
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListeMedicament</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>
<body>
    <h2 style="color: lightskyblue;
        margin-left: 20px;
        margin-top: 10px">Drugs list</h2>
    <button style="color:white; margin-top:20px; border-radius:5px; margin-left:20px; background-color:lightblue">
        @Html.ActionLink("Nouveau medicament", "Create")
    </button>
    <div class="tableau">
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true"
                          style="background-image: url(/Content/Images/drug1.jpg)">      
                        <thead style="background-color:black; color:white" >
                            <tr style="color:blue">
                                <th data-sortable="true" data-field="nom">Nom</th>
                                <th data-sortable="true" data-field="prix unitaire">Prix Unitaire</th>
                                <th data-sortable="true" data-field="quantite">Quantite</th>
                                <th data-sortable="true" data-field="categorie">Categorie</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="color:blue">
                                <td>Paracetamol</td>
                                <td>500F</td>
                                <td>3</td>
                                <td>Anti-inflammatoires</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit") |
                                    @Html.ActionLink("Details", "Details") |
                                    @Html.ActionLink("Delete", "Delete")
                                </td>
                            </tr>
                            <tr style="color:blue">
                                <td>Efferalgan Sirop</td>
                                <td>100F</td>
                                <td>2</td>
                                <td>Sirops</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit") |
                                    @Html.ActionLink("Details", "Details") |
                                    @Html.ActionLink("Delete", "Delete")
                                </td>
                            </tr>
                            <tr style="color:blue">
                                <td>Mebendazole</td>
                                <td>200</td>
                                <td>1</td>
                                <td>Anti-biotiques</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit")|
                                    @Html.ActionLink("Details", "Details") |
                                    @Html.ActionLink("Delete", "Delete")
                                </td>
                            </tr>
                            <tr style="color:blue">
                                <td>Ibuprofen</td>
                                <td>500F</td>
                                <td>2</td>
                                <td>Anti-inflammatoires</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit") |
                                    @Html.ActionLink("Details", "Details") |
                                    @Html.ActionLink("Delete", "Delete")
                                </td>
                            </tr>
                            <tr style="color:blue">
                                <td>Metronidazole</td>
                                <td>600</td>
                                <td>6</td>
                                <td>Anti-inflammatoires</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit") |
                                    @Html.ActionLink("Details", "Details") |
                                    @Html.ActionLink("Delete", "Delete")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-fr-FR.min.js"></script>
    </div>
</body>
</html>
