@model GestPharmaWebASP.Models.MedicamentModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2 style="color:forestgreen;margin-left:32px">Details</h2>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body style="padding: 64px;
        background-color:darkblue;
        color:white">
    <div class="container-fluid" style="border:1px solid groove;background-color:darkslategrey">
        <h4>Medicament</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Reference)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reference)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameDrug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameDrug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateFabrication)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateFabrication)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatePeremption)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePeremption)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prix)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prix)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Composition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Composition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.MatriculeCategory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.MatriculeCategory)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdDrug }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>