@model IEnumerable<GestPharmaWebASP.Models.Medicament>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<header class="w3l-header-nav">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light px-lg-0 py-0 px-3 stroke">
        <div class="container">
            <div class="img">
                <img src="~/Content/Images/GestPharm Logo.png" style="height:150px;" />
            </div>
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><span>Phar</span>macy</a>
           
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><i class="aos-animate" /><a href="/Home/listerProduitType?type=Homme">Anti-inflammatoires</a></li>
                            <li class="divider"></li>
                            <li><i class="aos-animate" /><a href="/Home/listerProduitType?type=Femme">Antibiotiques</a></li>
                            <li class="divider"></li>
                            <li><i class="aos-animate" /><a href="/Home/listerProduitType?type=Bebe">Desinfectants</a></li>
                            <li class="divider"></li>
                            <li><i class="aos-animate" /><a href="/Home/listerProduitType?type=Bebe">Antimycosiques</a></li>
                            <li class="divider"></li>
                            <li><i class="aos-animate" /><a href="/Home/listerProduitType?type=Bebe">Antiviraux</a></li>
                            <li class="divider"></li>
                            <li><i class="aos-animate" /><a href="/Home/listerProduitType?type=Bebe">Vitamines</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("contact","Home")">Contact</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Admin","Home")">Administrateur</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Login","Account")">LogUp</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("AfficherMedicament","Medicament")">Medicament</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("ListeMedoc","Panier")">Panier</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!--//nav-->
</header>
<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3>We Are More Than Pharmacy</h3>

                    <div class="bnr-button">
                        <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>

                </div>
            </div>
            <div class="carousel-item item2">
                <div class="carousel-caption">
                    <h3>Turning big ideas into great Medicament</h3>

                    <div class="bnr-button">
                        <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item item3">
                <div class="carousel-caption">
                    <h3>We Are More Than Pharmacy</h3>

                    <div class="bnr-button">
                        <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>

                </div>
            </div>
            <div class="carousel-item item4">
                <div class="carousel-caption">
                    <h3>Turning big ideas into great products</h3>

                    <div class="bnr-button">
                        <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--/model-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body video">
                <iframe src="https://player.vimeo.com/video/13618190" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<br />
@*@foreach (var produit in Model)
{
    <div class=" col-md-2 col-lg-3">
        <div class="thumbnail">
            <img src="@produit.Photo" alt="Computer Man" style="width:250px;height:250px">
            <div class="caption">
                <center>
                    <a href="/Produit/DetailsForUser/@produit.IdMedicament" class="btn btn-primary" role="button">Details »</a>
                    <h5>Prix : @produit.Prix</h5>
                    @Html.ActionLink("Ajouter au panier »", "AjouterProduit", "Panier", new { id = @produit.IdMedicament }, "")
                </center>
            </div>
        </div>
    </div>
}*@

<footer class="w3l-footer-66">
    <!-- footer -->
    <div class="footer-66-info">
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts pr-lg-5">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a class="navbar-brand" href="index.html"><span>Ges</span>Pharm</a>
                        <!-- if logo is image enable this
                                <a class="navbar-brand" href="#index.html">
                                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                </a> -->
                    </h2>
                    <p>
                        Ajoute un mot
                    </p>
                    <h4 class="sub-con-fo ad-info my-4">Catch on Social</h4>
                    <ul class="w3layouts_social_list list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_twitter">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_google">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="w3layouts-news-letter">
                        <h3 class="footer-title mb-0">Newsletter</h3>

                        <p class="mb-3">
                            By subscribing to our mailing list you will always get latest news and
                            updates from us.
                        </p>
                        <form action="#" method="post" class="w3layouts-newsletter">
                            <input type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1"> Subscribe</button>

                        </form>
                    </div>
                    <div class="bottom-w3layouts-sec-nav">
                        <div class="row sub-content-botom mx-0">
                            <div class="col-md-4 footer-grid_section_w3layouts pl-lg-0">
                                <h3 class="footer-title">Information</h3>
                                <ul class="footer list-unstyled">
                                    <li>
                                        <a href="@Url.Action("Index","Home")">Home</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("About","Home")">About Us</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    @*<li>
                                            <a href="services.html">Services</a>
                                        </li>*@
                                    <li>
                                        <a href="@Url.Action("contact","Home")">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Drug","Account")">Drug</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Bill","Account")">Bill</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Commande","Account")">Commande</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <!-- social icons -->

                                <h3 class="footer-title">Treatments</h3>
                                <ul class="footer list-unstyled">

                                    <li>
                                        <a href="#">maux de tete</a>
                                    </li>
                                    <li>
                                        <a href="#">palu</a>
                                    </li>
                                    <li>
                                        <a href="#">le coronavirus</a>
                                    </li>
                                    <li>
                                        <a href="#">Tooth Extraction</a>
                                    </li>

                                </ul>

                                <!-- social icons -->
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts ">
                                <h3 class="footer-title">Working Hours</h3>
                                <ul class="wrk-schedule-block">
                                    <li>Monday<span class="schedule-time">07:00 – 24:00</span></li>
                                    <li>Tuesday<span class="schedule-time">07:00 – 24:00</span></li>
                                    <li>Wednesday<span class="schedule-time">07:00 – 24:00</span></li>
                                    <li>Thursday<span class="schedule-time">07:00 – 24:00</span></li>
                                    <li>Friday<span class="schedule-time">07:00 – 24:00</span></li>
                                    <li>Sat day-Sunday<span class="schedule-time">Closed</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cpy-right py-3">
        <p class="text-center">
            © 2021 Application web Pharmacy.

        </p>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</footer>

<script src="~/Content/Scripts/jqueryindex-2.2.3.min.js"></script>
@*//js
    simpleLightbox*@
@*<script src="js/simpleLightbox.js"></script>*@
<script src="~/Content/Scripts/simpleLightboxIndex.js"></script>
<script>
    $('.proj_gallery_grid a').simpleLightbox();

</script>
<link href="~/Content/Styles/aosIndex.css" rel="stylesheet" />
<link href='css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
<link href="~/Content/Styles/aosIndex-animation.css" rel="stylesheet" />
<link href='css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
<script src='js/aos.js'></script>
<script src="~/Content/Scripts/aosIndex.js"></script>
<script src="js/aosindex.js"></script>
<script src="~/Content/Scripts/aosindexIndex.js"></script>
<script defer src="js/jquery.flexslider.js"></script>*
<script src="~/Content/Scripts/jqueryIndex.flexslider.js"></script>
<script>
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });

</script>
@*//flexSlider
        stats
    @*<script src="js/jquery.waypoints.min.js"></script>*@
<script src="~/Content/Scripts/jqueryindex.waypoints.min.js"></script>
@*<script src="js/jquery.countup.js"></script>*@
<script src="~/Content/Scripts/jqueryindex.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
@*//stats
    start-smoth-scrolling*@
@*<script src="js/move-top.js"></script>*@
<script src="~/Content/Scripts/moveIndex-top.js"></script>
@*<script src="js/easing.js"></script>*@
<script src="~/Content/Scripts/easingIndex.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            <script src="~/Content/Scripts/easingIndex.js"></script>
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });

</script>

<script src="~/Content/Scripts/bootstrapindex.js"></script>
<script src="~/Content/Scripts/jqueryIndex-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<!--//-->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!--/scroll-down-JS-->
<!-- stats -->
@*<script src="assets/js/jquery.waypoints.min.js"></script>*@
<script src="~/Content/Scripts/jqueryindex.waypoints.min.js"></script>
@*<script src="assets/js/jquery.countup.js"></script>*@
<script src="~/Content/Scripts/jqueryindex.countup.js"></script>
<script>
<script src="~/Content/Scripts/jqueryindex.waypoints.min.js"></script>
                        $('.counter').countUp();
</script>

<!-- //stats -->
@*<script src="assets/js/jquery.magnific-popup.min.js"></script>*@
<script src="~/Content/Scripts/jquery.magnificindex-popup.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

$('.popup-with-move-anim').magnificPopup({
        type: 'inline',

fixedContentPos: false,
fixedBgPos: true,

overflowY: 'auto',

closeBtnInside: true,
preloader: false,

midClick: true,
removalDelay: 300,
mainClass: 'my-mfp-slide-bottom'
});
});
</script>
<!-- for blog carousel slider -->
<script src="~/Content/Scripts/owlindex.carousel.js"></script>
@*<script src="assets/js/owl.carousel.js"></script>*@
<!-- script for banner slider-->
<script>
                $(document).ready(function () {
                            $('.owl-one').owlCarousel({
                                loop: true,
                                margin: 0,
                                nav: false,
                                responsiveClass: true,
                                autoplay: false,
                                autoplayTimeout: 5000,
                                autoplaySpeed: 1000,
                                autoplayHoverPause: false,
                                responsive: {
                                    0: {
                                        items: 1,
                                        nav: false
                                    },
                                    480: {
                                        items: 1,
                                        nav: false
                                    },
                                    667: {
                                        items: 1,
                                        nav: true
                                    },
                                    1000: {
                                        items: 1,
                                        nav: true
                                    }
                                }
                            })
                        })
</script>
<!-- //testimonials owlcarousel -->
<script>
                $(document).ready(function () {
                            $('.owl-two').owlCarousel({
                                loop: true,
                                margin: 20,
                                nav: false,
                                responsiveClass: true,
                                autoplay: false,
                                autoplayTimeout: 5000,
                                autoplaySpeed: 1000,
                                autoplayHoverPause: false,
                                responsive: {
                                    0: {
                                        items: 1,
                                        nav: false
                                    },
                                    480: {
                                        items: 1,
                                        nav: false
                                    },
                                    667: {
                                        items: 1,
                                        nav: false
                                    },
                                    1000: {
                                        items: 1,
                                        nav: false
                                    }
                                }
                            })
                        })
</script>
<!-- //script for Testimonials-->
<!-- //script -->
@*<script src="assets/js/bootstrap.min.js"></script>*@
<script src="~/Content/Scripts/bootstrapindex.js"></script>
